<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style/homepage.css">
        <style>
            .navbar {
              display: flex;
              flex-direction: row;
              align-items: center;
              font-size: 19px;
              font-family: Trirong, serif;
            }

            .nav-item {
              margin-right: 10px; /* Add space between nav items */
            }

            .nav-link {
              color: gray;
              text-decoration: none;
            }

            .nav-link.disabled {
              pointer-events: none; /* Disables the link */
              color: lightgray;
            }
          </style>


</head>

<body>

    <header>
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="/" style="font-size:35px; font-family: Trirong, serif;">
                <span style="color: black; font-weight: bold;">Ticket</span><span
                    style="color: rgb(255, 45, 45); font-weight: bold;">Link</span>
            </a>
            <!-- Update Link -->
            <div class="navbar">
                {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link disabled text-muted" href="#">Welcome {{current_user.name}} |</a>
                    <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Log Out |</a>
                    <a class="nav-item nav-link" href="{{ url_for('event.booking') }}">Booking History |</a>
                    <a class="nav-item nav-link" href="{{ url_for('event.create') }}">Create Events</a>
                {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">Register |</a>
                    <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Log In |</a>
                    <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Booking History |</a>
                    <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Create Events</a>
                {% endif %}
              </div>
        </div>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent"
                style="font-size: 19px; font-family: Trirong, serif; text-indent: 90px;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('event.AFL') }}">AFL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('event.Basketball') }}">Basketball</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('event.Boxing') }}">Boxing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('event.Cricket') }}">Cricket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('event.Golf') }}">Golf</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('event.Tennis') }}">Tennis</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
        {%block header%}

        {%endblock%}

    </header>

    {%block content%}


    {%endblock%}

    <!-- Footer of the website -->
   <!-- Adding the Footer-->
   <div class="footer-basic" style="position: relative;">
    <footer>

        <ul class="list-inline">
            <li class="list-inline-item" style = "font-size: 15px;"><a href="#">Terms and Use</a></li>
            <li class="list-inline-item" style = "font-size: 15px;"><a href="#">Privacy Policy</a></li>
            <li class="list-inline-item" style = "font-size: 15px;"><a href="#">Cookies Policy</a></li>
        </ul>
        <p><a href="mailto:tunetown@musicevents.com" style="color:white; font-size: 12px;">Email Us: TicketLink@sportsevents.com</a></p>
        <p class="copyright">TicketLink Â© 2023</p>
    </footer>


    {{ bootstrap.load_js() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>
