{%extends "base.html"%}
{%import "bootstrap/form.html" as wtf%}

<!--Changes the heading of the site-->
<title>Detail Event | TicketLink</title>

{%block content%}
        
    <div class="container" style="margin-top:30px">
            
        <!--Gets the id of the event selected and located that in the event database-->      
        {%if event.id == event.id%}
          <div class="row">
              <div class="col-sm-4">
                
                <h3>{{event.name}}</h3>
                <img src="static/image/second.png">
                <p>{{event.venue}}</p>
            </div>
            <div class="col-sm-8">               
                <br>
                <br>
                <h5>{{event.date}}</h5>
                    <div class="event-details"> 
                    <p>{{event.description}}</p>
                
                <b>Price: </b> 
                <p>${{event.price}}</p>
                <p>Gates Open: {{event.gateopen}} | Event Start: {{event.eventstart}}</p>
                <b>Running Times</b>
                <p>{{event.runtime}}</p>
                <p>Times are approx. and subject to change at any time.</p>
                <b>Important event information</b>
                <p>{{event.warning}}</p>
                </div>
          {%endfor%}

                    <form action="/action_page.php">
                      <label for="quantity">Select quantity:</label>
                      <select name="quantity" id="quantity">
                        <optgroup label="Qty">
                          <option value="quantity">1</option>
                          <option value="quantity">2</option>
                          <option value="quantity">3</option>
                          <option value="quantity">4</option>
                          <option value="quantity">5</option>
                        </optgroup>
                      </select>
                      <br><br>
                    </form>
                      <div class="float-end">

                        <button onclick="window.location.href='index.html'" class="btn btn-success">
                          Get Ticket <i class="fas fa-long-arrow-alt-right ms-1"></i>
                      </button>
                    </div>
                
                </div>
        
            <div class="row">
                <div class="col-sm-12">
                    <!-- Comments -->  
                      <div class="row">  
                        <div class="col-md-12">  
                          <h2>Comments</h1>  
                        </div>  
                      </div>  
                  
                      <div class="row border-bottom"> 
                        {{ render_form(form,"/events/{0}/comment".format(event.id)) }}
                        
                        {% for comment in event.comments %}
                        <div class="col-md-12">  
                          <b>{{ comment.user.name }} <span class="ml-2 text-muted">June 2024</span></b>
                          <p>{{ comment.text }}</p>  
                        </div> 
                        {% endfor %} 
                      </div>  
                                      
                    <!-- New comment form -->
                    <div class="col-sm-12">
                    <div class="d-flex flex-start w-100 mt-3">
                        <div class="w-100">
                            <h5>Add a comment</h5>
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="textAreaExample">What is your view? <br></label>
                                <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                                
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-success">
                                    Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%endblock%}
