{%extends "base.html"%}
{%import "bootstrap/form.html" as wtf%}

<!--Changes the heading of the site and adds stylesheet-->
<link rel="stylesheet" href="static/style/homepage.css">
<title>Home Page | TicketLink</title>

{%block content%}


<div class="container-fluid">
          <!-- Contains the main content of the website, divided into sections -->
          <main>
            <section class="events">
    
                <div class="events-heading" style="color: gray">
                        <h3>Upcoming Events</h3> 
                    </div>

                <article class="upcoming-events">
                    <img src="static/image/first.png">
                    <div>
                    <h3>{{event.name}}</h3>
                    <p>VenueThe Gabba, Woolloongabba, QLD</p>
                    <b>Date - Fri 14 Jun</b><br>
                    <b>Start - 7:40PM</b>
                    <p>Gates Open - 6:00PM</p>
                    <p>Finish - Approximately 2.5 hours after start time.
                    All times are approximate and subject to change.</p>
                    <p>Price: $25~</p>
                    <button type="button" class="btn btn-lg d-block mx-auto" type="submit" style="width: 250px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">Sold Out</button>
                    </div>
                </article>
    
                <article class="upcoming-events">
                    <img src="static/image/second.png">
                    <div>
                    <h3>Port Adelaide v Brisbane Lions </h3>
                    <p>Adelaide Oval, North Adelaide, SA</p>
                    <b>Date - Sat 22 Jun</b><br>
                    <b>Start - 1:30PM</b>
                    <p>Gates Open - 11:30AM</p>
                    <p>Finish - Approximately 2.5 hours after start time.
                    All times are approximate and subject to change.</p>
                    <p>Price: $25~</p>
                    <button onclick="window.location.href='detail.html'" class="btn btn-danger btn-lg d-block mx-auto" style="width: 250px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
                      Get Ticket
                  </button>  
                  </div>
                </article>
    
                <article class="upcoming-events">
                    <img src="static/image/third.png">
                    <div>
                    <h3>Brisbane Lion v Melbourne Demons</h3>
                    <p>Adelaide Oval, North Adelaide, SA</p>
                    <b>Date - Fri 28 Jun</b><br>
                    <b>Start - 4:30PM</b>
                    <p>Gates Open - 2:30PM</p>
                    <p>Finish - Approximately 2.5 hours after start time.
                    All times are approximate and subject to change.</p>
                    <p>Price: $25~</p>
                    <button type="button" class="btn btn-lg d-block mx-auto wide: 250px" type="submit" style="width: 250px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">Inactive Open at 23/Apr</button>
                  </div>
                </article>   
            </section>
        </main>
      </div>
{%endblock%}
